html {
  background-image: url('poker-table-felt.jpg');
  background-size: cover;
  height: 100%;
}

h1 {
  color: gold;
  text-shadow: 3px 3px black;
  text-align: center;
  font-family: "Georgia", sans-serif;
}

body {
  padding: 20px 20px;
  margin: 0px;
}

p {
  font-family: "Georgia", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  position: fixed;
  left: 55px;
  bottom: 200px;
  /* text-shadow: 3px 3px black; */
}

h4 {
  font-family: "Georgia", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: white;
  position: fixed;
  left: 55px;
  bottom: 460px;
  /* text-shadow: 3px 3px black; */
}

.dealer {
  text-align: left;
  position: fixed;
  left: 20%;
  bottom: 60%;
}

.player {
  text-align: left;
  position: fixed;
  left: 20%;
  bottom: 15%;
}

.p {
  font-family: "Georgia", sans-serif;
  color: gold;
  text-shadow: 2px 2px black;
  font-weight: normal;
  position: fixed;
  bottom: 40%;
}

.d {
  font-family: "Georgia", sans-serif;
  color: gold;
  text-shadow: 2px 2px black;
  font-weight: normal;
  position: fixed;
  bottom: 80%;
}


.wood {
  position: absolute;
  bottom: 0%;
  left: -20px;
  width: 110%;
  height: 75px;
  margin: auto;
}

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}


.btn {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  margin: 2px;
  position: relative;
  left: -45px;
  bottom: 15px;
  background-color: grey;
  border-radius: 6px;
  border-color: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
  cursor: pointer;
}

.deck {
  margin: 0px;
}

.starter {
  position: relative;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.jack {
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(50px 50px 50px #222);
}

.letsPlay {
  font-size: 1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  left: 278px;
  bottom: 200px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background-color: gold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  */ */ */
}

.letsPlay:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
  background-color: #ffab23;
  cursor: pointer;
}



.chips {
  position: fixed;
  margin: auto;
  left: 800px;
  bottom: 10px;
}

#fifteen {
  text-align: center;
  font-family: "Georgia", sans-serif;
  color: black;
  text-shadow: black;
  font-weight: bold;
  position: fixed;
  margin: auto;
  left: 80%;
  bottom: 25px;
  font-size: 1.2em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.5em;
  height: 3em;
  background: red;
  border-radius: 50%;
  border: .5em dashed white;
  transition: all .5s ease;
  backface-visibility: hidden;
  background: #930814;
  box-shadow: 0 0 0 .2em black;
  -moz-box-shadow: 0px 1px 0px 0px #930814;
  -webkit-box-shadow: 0px 1px 0px 0px #930814;
  box-shadow: 0px 1px 0px 0px #930814;
}

#fifteen:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5b040c), color-stop(1, #5b040c));
  background: -moz-linear-gradient(top, #5b040c 5%, #5b040c 100%);
  background: -webkit-linear-gradient(top, #5b040c 5%, #5b040c 100%);
  background: -o-linear-gradient(top, #5b040c 5%, #5b040c 100%);
  background: -ms-linear-gradient(top, #5b040c 5%, #5b040c 100%);
  background: linear-gradient(to bottom, #5b040c 5%, #5b040c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b040c', endColorstr='#5b040c', GradientType=0);
  background-color: #5b040c;
  cursor: pointer;
}

#fifty {
  text-align: center;
  font-family: "Georgia", sans-serif;
  color: white;
  text-shadow: black;
  font-weight: bold;
  position: fixed;
  margin: auto;
  left: 90%;
  bottom: 25px;
  font-size: 1.2em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.5em;
  height: 3em;
  background: blue;
  border-radius: 50%;
  border: .5em dashed white;
  transition: all .5s ease;
  backface-visibility: hidden;
  background: #0f1d63;
  box-shadow: 0 0 0 .2em black;
  -moz-box-shadow: 0px 1px 0px 0px #1d2e84;
  -webkit-box-shadow: 0px 1px 0px 0px #1d2e84;
  box-shadow: 0px 1px 0px 0px #1d2e84;
}

#fifty:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #091242), color-stop(1, #091242));
  background: -moz-linear-gradient(top, #091242 5%, #091242 100%);
  background: -webkit-linear-gradient(top, #091242 5%, #091242 100%);
  background: -o-linear-gradient(top, #091242 5%, #091242 100%);
  background: -ms-linear-gradient(top, #091242 5%, #091242 100%);
  background: linear-gradient(to bottom, #091242 5%, #091242 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#091242', endColorstr='#091242', GradientType=0);
  background-color: #091242;
  cursor: pointer;
}

.betting div {
    display: inline-block;
}
.betting img {
    height: 70px;
    margin-top: 8px;
    margin-right: 18px;
}


/* Pot */

#pot {
  font-size: 1em;
  text-align: center;
  font-family: "Georgia", sans-serif;
  color: black;
  position: fixed;
  margin: auto;
  left: 70%;
  bottom: 30px;
}

#chipText {
  font-size: 1em;
  text-align: center;
  font-family: "Georgia", sans-serif;
  color: black;
  position: fixed;
  margin: auto;
  left: 70%;
  bottom: 60px;
}

/* Bet  */

.b {
  text-align: center;
  font-family: "Georgia", sans-serif;
  color: gold;
  font-weight: normal;
  text-shadow: 2px 2px black;
  position: fixed;
  margin: auto;
  left: 90%;
  bottom: 40%;
}

#bet {
  text-align: center;
  font-family: "Georgia", sans-serif;
  font-size: 1.5em;
  color: gold;
  font-weight: normal;
  text-shadow: 2px 2px black;
  position: fixed;
  margin: auto;
  left: 90%;
  bottom: 34%;
}
